<!DOCTYPE html>

<html>

<head>
    <title>Exercise Tracker API</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="container">
        <h1>
            Welcome to the exercise tracker api
        </h1>
        <div class="row new-user">
            <form action="/api/exercise/new-user" method="post">
                Username: <input type="text" name="username" placeholder="username*"><br>
                <input type="submit">
            </form>
        </div>
        <div class="row add">
            <form action="/api/exercise/add" method="post">
                UserId: <input type="text" name="userId" placeholder="userId*"><br> Description: <input type="text" name="description" placeholder="description*"><br> Duration: <input type="text" name="duration" placeholder="duration*"><br> Date:
                <input type="text" name="date" placeholder="date"><br>
                <input type="submit">
            </form>
        </div>
        <div class="row log">
            <form action="/api/exercise/log" method="get">
                UserId: <input type="text" name="userId" placeholder="userId*"><br> After Date: <input type="text" name="from" placeholder="date from"><br> Before Date: <input type="text" name="to" placeholder="date to"><br> Limit Results: <input type="text"
                    name="limit" placeholder="limit results"><br>
                <input type="submit">
            </form>
        </div>
        <footer>
            <h5>
                By Milo Hartsoe. <a href="https://github.com/MiloATH/ExerciseTrackerAPI">Code on Github here</a>.
            </h5>
        </footer>
    </div>
</body>

</html>
